*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	margin: 1em;
	color: #eee;
	background-color: #222;
	font-size: 14px;
	font-family: monospace;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #2A9FD6;
}

h1 {
	color: #d3d3d3;
}
